
@{
    ViewData["Title"] = "LevelSelectView";
}

<div class="informationBlock hasNavBar">
    <h2>Level Select</h2>   
    <div class="row">
        <div class="col-md-3">
            <a asp-controller="Combat"  asp-route-level = "1" asp-action="Combat">1</a>
        </div>
        <div class="col-md-3">
            <a asp-controller="Combat" asp-action="LevelSelect">2</a>
        </div>
        <div class="col-md-3">
            <a asp-controller="Combat" asp-action="LevelSelect">3</a>
        </div>
        <div class="col-md-3">
            <a asp-controller="Combat" asp-action="LevelSelect">4</a>
        </div>
    </div>

</div>
